.pc-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #3f3a4a;
  border-radius: 16px;
  padding: 20px;
  width: 400px;
}

.pc-card.mirrored {
  flex-direction: row-reverse;
}

.pc-card.mirrored .pc-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pc-card.mirrored .more-info {
  align-items: flex-end;
}

.pc-info h2 {
  margin: 0;
  font-size: 24px;
  color: white;
}

.pc-info p {
  margin: 8px 0 0;
  color: #ccc;
}

.pc-status {
  width: 18px;
  height: 85px;
  border-radius: 8px;
}

.more-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: auto;
  align-items: flex-start; 
}

/* Status colors */
.pc-status.Available {
  background: #74D66F;
}

.pc-status.Occupied {
  background: #BF5C5C;
}

.pc-status.Kickable {
  background: #E3BC46;
}

.pc-status.Reserved {
  background: #8F6BB5;
}

.pc-status.Offline {
  background: #CCCCCC
}