.pc-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3C334A;
  border-radius: 16px;
  padding: 20px;
  width: 400px;
}

.pc-card.mirrored {
  flex-direction: row-reverse;
}

.pc-card.mirrored .pc-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pc-card.mirrored .more-info {
  align-items: flex-end;
}

.pc-info h2 {
  margin: 0;
  font-size: 24px;
  color: white;
}

.pc-info p {
  margin: 8px 0 0;
  color: #ccc;
  word-spacing: -3px;
}

.pc-status {
  width: 18px;
  height: 85px;
  border-radius: 8px;
}

.more-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: auto;
  align-items: flex-start; 
}

/* Status colors */
.pc-status.Available {
  background: #74D66F;
}

.pc-status.Occupied {
  background: #BF5C5C;
}

.pc-status.Kickable {
  background: #E3BC46;
}

.pc-status.Reserved {
  background: #8F6BB5;
}

.pc-status.Offline {
  background: #CCCCCC
}

@media (max-width: 600px) {
  .pc-card {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
    border-radius: 12px;
  }

  .pc-info h2 {
    font-size: 13px;
  }

  .pc-info p {
    font-size: 11px;
    margin-top: 4px;
  }

  .pc-status {
    width: 10px;
    height: 45px;
    border-radius: 6px;
  }
}