button {
  background-color: #dde0e4;
  color: #5a5e66;
  border: none;
  border-radius: 16px;
  padding: 14px 28px;
  text-align: center;
  font-family: inherit;
  display: block;
  margin: 0 auto;

  position: absolute;
  right: 12px;
  
}

button:hover:not(:disabled) {
  background-color: #d0d4d9;
}

button:active:not(:disabled) {
  transform: scale(0.97);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}